*,*::after,*::before{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    background: rgb(160, 140, 90);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-body{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.card-body h1{
    margin-bottom: 15px;
    font-size: 70px;
}

.card-btn button{
    color: beige;
    padding: 10px 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

button#decrement{
    background: black;
}

button#increment{
    background: green;
}

button#reset{
    background: red;
}